.navbar {
    position: sticky;
    background: #000000;
    /* #131313*/
    height: 50px;
    justify-content: center;
    top: 0;
    align-items: center;
    display: flex;
    z-index: 999;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #be5600;
    font-family: 'Rubik', sans-serif;
    background-size: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 30px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    justify-content: center;
    padding: 0 1.5rem;
    height: 100%;
    font-size: 25px;
}

.navbar__links:hover {
    background: #ff7300;
    transition: all 0.3s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content {
  background: #01001f;
  padding: 80px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -80px;
  margin-top: -80px;
  padding-bottom: 50px;
  font-family: 'Rubik', sans-serif;
}

#profile-pic {
  border-radius: 20px;
  float: left;
  width: 25%;
  height: 25%;
  margin: 3% 5%;
  margin-right: 3%;
  min-width: 250px;
  max-width: 300px;
}

.main__content h1 {
  font-size: 40px;
  background-color: #be5600;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 30px;
    background-color: #be5600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: -1em;
}

.main__content p {
    font-size: 20px;
    background-color: #fff;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: 600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.games__turntable {
  text-align: center;
  padding-top: 50px;
}

#slideshow-img {
  border-radius: 20px;
  width: 75%;
  height: 75%;
  min-width: 800px;
  margin: auto;
  padding: auto;
}


/* project section */
.projects__container {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  background-color: #01001f;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__container h1 {
  background-color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.projects {
  /*height: 100%;*/
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Niraya */
.service-1 {
  background-color: rgb(143, 143, 143);
  width: 320px;
  padding: 15px;
  margin: 35px;
  border-radius: 10px;
}

.img {
  padding-top: 30px;
}

img {
  height: 170px;
  width: 100%;
}

/*.img:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}*/

.description {
  padding-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  color: #000000;
}

.description h2 {
  font-weight: 900;
  font-size: 2rem;
}

.description p {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}
/* end of Niraya */

/*.shapes {
  position: relative;
}

.shape-1,
.shape-2,
.shape-3,
.shape-4,
.shape-5,
.shape-6 {
  width: 20px;
  height: 40px;
  position: absolute;
  border-radius: 35px;
}

.right {
  right: 0;
}

/* animation 
.shape-1 {
  right: 40px;
  background-color: #01001f;
  top: -60px;
  transition: all linear .5s;
}

.shape-2 {
  right: 20px;
  background-color: rgb(143, 143, 143);
  top: -10px;
  transition: all linear .5s;
}

.shape-3 {
  background-color: #01001f;
  top: -60px;
  transition: all linear .5s;
}

.shape-4 {
  background-color: rgb(143, 143, 143);
  left: 0px;
  top: -27px;
  transition: all linear .5s;
}

.shape-5 {
  left: 20px;
  background-color: #01001f;
  top: 17px;
  transition: all linear .5s;
}

.shape-6 {
  background-color: rgb(143, 143, 143);
  top: -27px;
  left: 40px;
  transition: all linear .5s;
}

.service-1:hover .shape-1 {
  top: -30px;
}

.service-1:hover .shape-2 {
  top: -30px;
}

.service-1:hover .shape-3 {
  top: -40px;
}

.service-1:hover .shape-4 {
  top: -7px;
}

.service-1:hover .shape-5 {
  top: 0px;
}

.service-1:hover .shape-6 {
  top: -15px;
}*/
/* end of animation */

/* contact form */
/*.contact__container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact__form {
  background-color: #1abc9c;
  position: relative;
  font-family: 'Rubik', sans-serif;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact__form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  top: 50px;
  left: -13px;
  transform: rotate(45deg);
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input__container {
  position: relative;
  margin: 1rem 0;
}

*.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input__container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 600;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input__container.textarea label{
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}*/



@media screen and (max-width: 960px) {
    .navbar__container {
        padding: 0;
    }

    /* drop down menu */
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        width: 100%;
        top: -1000px;
        opacity: 0; 
        transition: all 0.75s ease;
        background: #000000;
    }

    /* drop down menu */
    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        height: 15vh;
        z-index: 99;
    }

    /* drop sown text */
    .navbar__links {
        font-size: 1.1rem;
        text-indent: -2.75em;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 10%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .main__content {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }

    #profile-pic {
      margin: auto;
      padding: auto;
      float: none;
      min-width: 250px;
    }

    #slideshow-img {
      margin: auto;
      padding: auto;
      min-width: 450px;
    }

    .main__content p {
      text-align: left;
    }
}