html, body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background: #01001f;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar {
    background: #000000;
    /* #131313*/
    z-index: 999;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    height: 6vh;
    width: 100%;
    padding-left: 50px;
}

#navbar__logo {
    color: #be5600;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    /*font-size: 30px;*/
    font-size: 2.5vh;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: auto;
    width: 35%;
    justify-content: space-between;
}

.navbar__links {
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /*font-size: 25px;*/
    font-size: 125%;
}

.navbar__links:hover {
    color: #ff7300;
    transition: all 0.3s ease;
}

hr {
  background-color: #ff7300;
  border-color: #ff7300;
  height: 5px;
  border-radius: 5px;
  margin: 4% 5% 4% 5%;
}

.main__content {
  padding: 80px;
  padding-bottom: 0;
  /*text-align: left;*/
  margin-top: 5vh;
}

.games__turntable {
  text-align: center;
}

#profile-pic {
  border-radius: 20px;
  float: left;
  width: 25%;
  margin: 2% 4%;
  min-width: 250px;
  max-width: 300px;
}

.aboutme_content {
  text-align: left;
}

.aboutme_content h1 {
  font-size: 40px;
  color: #be5600;
}

.aboutme_content h2 {
  font-size: 30px;
  color: #be5600;
  margin-top: -1em;
}

.aboutme_content p {
  font-size: 20px;
  padding-right: 4%;
  padding-left: 4%;
  font-weight: 600;
}

.slideshow-vid {
  border-radius: 20px;
  height: 75%;
  /*min-width: 800px;*/
  max-width: 1100px;
  width: 100%;
}

/* project section */
.projects__container {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
}

#projects,
#resume,
#aboutme,
#contact {
  font-size: 2.5rem;
  font-weight: 600;
}

.projects {
  /*height: 100%;
  whole__project*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*TODO: Drop down menu filter in mobile, fix padding in mobile*/

.filterDiv {
  display: none;
} 

.show {
  display: block;
} 

/* Style the buttons */
.btn {
  background: #ff7300;
  color: #000000;
  border: none;
  border-radius: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #be5600;
  background: #000000;
  transition: all 0.3s ease;
}

.btn.active {
  color: #df6400;
  background: #000000;
}


/* Projects */
.service-1 {
  width: 500px;
  margin: 15px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 200%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ff7300;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

/* end of projects */

/* resume section */
.resume__container {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
}

.resume__paper__container {
  max-width: 900px;
  margin: auto;
}

.resume__paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  padding: auto;
  min-height: 750px;
  height: 100%; 
  width: 100%;
}

.downloadButton {
  opacity: 0;
}
/* end of resume section */

/* contact form section */
#contact {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.contact__container {
  /*margin-left: -10px;
  margin-right: -10px;*/
  height: 650px;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.contact__container form {
  width: 100%;
}

.contact__info {

  /* delete */
  margin-top: 4rem;
}

.contact__form {
  /*background-color: #ff0000;*/
  width: 100%;
  margin: 0 0 0 6rem;
  min-width: 300px;
  text-align: left;
}

label {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-size: large;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid rgb(118, 118, 118);
  background-color: rgb(63, 63, 63);
  outline: none;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.2rem;
}

textarea {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid rgb(118, 118, 118);
  background-color: rgb(63, 63, 63);
  outline: none;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.2rem;
  resize: none;
  box-sizing: border-box;
  height: 25vh;
}

.button {
  background: #ff7300;
  color: #000000;
  border: none;
  border-radius: 7%;
  padding: 0.4rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}

.button:hover {
  color: #ff7300;
  background: #000000;
  transition: all 0.3s ease;
}

.icon {
  color: #ff7300;
  font-size: 3rem;
  text-decoration: none;
}

.icon:hover {
  color: #a34900;
  ;
  text-decoration: none;
}

/* end of contact form section */

@media screen and (max-width: 960px) {  
  .navbar__container {
        padding: 0;
    }

    /* drop down menu */
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        width: 100%;
        top: -1000px;
        opacity: 0; 
        transition: all 0.75s ease;
        background: #000000;
        justify-content: unset;
    }

    /* drop down menu */
    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        height: 15vh;
        z-index: 99;
        padding: 0;
    }

    /* drop sown text */
    .navbar__links {
        font-size: 1.1rem;
    }

    #navbar__logo {
        padding-left: 10px;
        font-size: 95%;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 10%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .main__content {
      text-align: center;
      padding: 0;
    }

    .slideshow-vid {
      width: 85%;
      margin-top: 6vh;
    }

    .aboutme_content {
      text-align: center;
    }

    .aboutme_content p {
      text-align: left;
    }

    #profile-pic {
      margin: auto;
      padding: auto;
      float: none;
      min-width: 250px;
    }

    .main__content p {
      text-align: left;
    }

    #projects,
    #resume {
      margin-bottom: 0;
    }
    
    .projects {
      margin-top: 0;
    }

    .service-1 {
      width: 75%;
      margin: 15px;
      margin-left:auto;
      margin-right: auto;
    }

    section {
      padding-top: 25px;
    }

    .resume__paper__container {
      padding: 0;
      height: 60px;
    }

    .resume__container {
      margin-top: 40px;
      padding-top: 0;
      padding-bottom: 40px;
    }

    .resume__paper {
      opacity: 0;
      height: 10%;
    }

    .downloadButton {
      opacity: 1;
      top: auto;
      text-align: center;
    }

    #contact {
      padding-top: 20px;
    }

    .contact__container {
      flex-flow: row nowrap;
      justify-content: center;
    }

    .contact__info {
      margin: auto;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .contact__form {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .text {
      font-size: medium;
    }
}